<h1>Real Time Products</h1>
<ul id="products-list">
  {{#each products}}
    <li><strong>{{this.title}}</strong> | Precio:<em><strong>$ {{this.price}}</strong></em></li>
  {{/each}}
</ul>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
  socket.on('updateProducts', (products) => {
    const productsList = document.getElementById('products-list');
    productsList.innerHTML = '';
    products.forEach(product => {
      const li = document.createElement('li');
      li.innerHTML = `<strong>${product.title}</strong> | <em>Precio:</em> <strong>$${product.price}</strong>`;
      productsList.appendChild(li);
    });
  });
</script>